  <h2>Grocery List</h2>
  <div class="well"><p>Add an item to your list by typing below:</p>

    <%= form_for :list do |l| %>
      <%= l.text_field :name %>
      <%= l.submit "Add" %>  
  </div>
  
  <% end %>
</div><!-- Ends the layout's main div to create whitespace below -->
<div class="jumbotron">
  <h3> Items: </h3>
  <table>
    <% @lists.each do |list| %>
    <tr><ul>
      <td style="padding: 8px"><li><%= list.name %> <%= link_to 'delete', list, :method => :delete %></li></td>
      </ul></tr>
    <% end %>
  </table>
</div>
<div class="well">
    <p>Would you like to save this list and access it privately? <%= link_to 'Sign up', new_user_path %> today!</p>
<!-- No ending div because its closed in the layout -->