<!DOCTYPE html>
<html>
<head>
  <title>NkuProject - Grocery list</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default container" role="navigation">
    <div class="navbar-header">
      <% if current_user %>
        Hello, <%= current_user.name %>! | <%= link_to 'Logout', logout_path %> 
      <% else %>
        Hello, Guest! Login to manage your list | <%= link_to 'Login', "login" %> | <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </div>
  </nav>
  <br /> 

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>

</body>
</html>
